@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Rokkitt', serif;;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html,
  body {
    background-size: cover;
    height: 100vh;
    font-size: 100%;
    background: #000;
    text-align: center;
    overflow: hidden;
    z-index: -3;
  }
  
  #button {
    display: none;
  }
  
  .ring {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 150px;
    height: 150px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    font-family: sans-serif;
    font-size: 20px;
    color: #fff;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 101;
  }
  .ring:before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    border-radius: 50%;
    animation: animateC 2s linear infinite;
  }

  @keyframes animateC {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* Loader */
  
  #video-loading {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    margin: auto;
    transition: top 2000ms;
  }
  
  #video_loader {
    height: 200px;
    width: 200px;
    transition: transform 2000ms;
  }
  
  h1 {
    margin: 0;
    padding: 0;
    font-family: "Arial Narrow", sans-serif;
    font-weight: 100;
    font-size: 1.8em;
    color: #a3e1f0;
  }
  
  .loading-span {
    position: relative;
    top: 0.63em;
    display: inline-block;
    text-transform: uppercase;
    opacity: 0;
    transform: rotateX(-90deg);
    z-index: 1000;
  }
  
  .let1 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 0.1s;
  }
  
  .let2 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 0.2s;
  }
  
  .let3 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 0.3s;
  }
  
  .let4 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 0.4s;
  }
  
  .let5 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 0.5s;
  }
  
  .let6 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 0.6s;
  }
  
  .let7 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 0.7s;
  }
  
  @keyframes drop {
    10% {
      opacity: 0.5;
    }
    20% {
      opacity: 1;
      top: 3.78em;
      transform: rotateX(-360deg);
    }
    80% {
      opacity: 1;
      top: 3.78em;
      transform: rotateX(-360deg);
    }
    90% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
      top: 6.94em;
    }
  }

.container{
  height: 100vh;
  width: 100%;
  position: absolute;
  overflow: hidden;
  background: url("./static/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  display: none;
}
.container video{
  height: 100vh;
  width: 100vw;
  object-fit: fill;
  /* z-index: 3; */
  animation: fadeOut ease 8s;
  opacity: 0;
}
@keyframes fadeOut {
  0%{
    opacity: 100%;
    /* display: block; */
    visibility: visible;
  }
  100%{
    opacity: 0%;
    /* display: none; */
    visibility: hidden;
  } 
}
@keyframes fadeUp{
  0%{
    opacity: 0%;
    margin-top: 100px;
  }
  100%{
    opacity: 100%;
    margin-top: 0;
  }
}
.text-cont{
  position: absolute;
  /* z-index: 0; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Rokkitt', serif;;
  font-size: 6vw;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  animation: fadeUp ease 9s;
  /* animation-delay: 8s;
  -webkit-animation-delay: 8s; */
}
.text-cont img{
  width: 35vw;
}

#particles-js {
  height: 100vh;
  /* position: absolute; */
  background-color: transparent;
  animation: fadeIn ease 10s;
  z-index: 1000000 !important;
}
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100%;
  }

  
}


@media screen and (max-width: 800px) {
  .text-cont{
    top: 30%;
    font-size: 10vw;
  }
  .text-cont img{
    width: 50vw;
  }
}